# Python
*.pyc
__pycache__/

# Django

/media/
/.env

# VSCode ou outros editores
.vscode/
.idea/

# Ambientes virtuais
venv/
.env/

#DOCKER
Dockerfile
docker-compose.yml

#BAnco antigo
*.sqlite3
db.sqlite3
