{% extends 'apconect/base.html' %}

{% block content %}
<div style="text-align: center; margin-bottom: 20px;">
    <input type="text" id="filtro-anuncio" placeholder="O que você precisa hoje?" style="padding: 10px; width: 80%; max-width: 400px; border-radius: 8px; border: 1px solid #ccc;">
  </div>
  <h2 style="text-align: center; color: #009688;">Anúncios Recentes</h2>

  {% if anuncios %}

    <div class="cards">
      {% for anuncio in anuncios %}
        <div class="card anuncio">
          {% if anuncio.imagem %}
            <img src="{{ anuncio.imagem.url }}" alt="{{ anuncio.titulo }}" class="card-img">
          {% endif %}

          <h3>{{ anuncio.titulo }}</h3>
          <p>{{ anuncio.descricao }}</p>
          <span class="categoria">{{ anuncio.get_categoria_display }}</span>

          {% if user.is_authenticated and anuncio.usuario == user %}
            <div class="card-actions">
              <a href="{% url 'editar_anuncio' anuncio.id %}" class="btn-editar">Editar</a>
              <a href="{% url 'deletar_anuncio' anuncio.id %}" class="btn-excluir">Excluir</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p style="text-align: center; color: #555;">Não há anúncios cadastrados no momento.</p>
  {% endif %}
{% endblock %}
